<form method="POST" class="row g-3 needs-validation" action="/waifus/create">
    <div class="col-md-5">
        <label for="validationCustom01" class="form-label">Full name</label>
        <input
            type="text"
            class="form-control"
            id="validationCustom01"
            name="name"
            value=""
        />
    </div>

    <div class="col-md-6">
        <label for="validationCustom02" class="form-label">Nickname</label>
        <input
            type="text"
            class="form-control"
            id="validationCustom02"
            name="nickName"
            value=""
        />
    </div>

    <div class="col-md-2">
        <label for="validationCustomUsername" class="form-label">Age</label>
        <div class="input-group has-validation">
            <input
                type="text"
                class="form-control"
                id="validationCustomUsername"
                aria-describedby="inputGroupPrepend"
                name="age"
                value=""
            />
        </div>
    </div>

    <div class="col-md-4">
        <label for="validationCustom04" class="form-label"
            >Date of birth: Month</label
        >
        <select class="form-select" id="validationCustom04" name="birthMonth">
            <option selected disabled value="">Month...</option>
            <option>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
            <option>June</option>
            <option>July</option>
            <option>August</option>
            <option>September</option>
            <option>Octobor</option>
            <option>November</option>
            <option>December</option>
        </select>
    </div>

    <div class="col-md-4">
        <label for="validationCustom04" class="form-label">Date</label>
        <select class="form-select" id="validationCustom04" name="birthDay">
            <option selected disabled value="">Day...</option>
            <option>01st</option>
            <option>02nd</option>
            <option>03rd</option>
            <option>04th</option>
            <option>05th</option>
            <option>06th</option>
            <option>07th</option>
            <option>08th</option>
            <option>09th</option>
            <option>10th</option>
            <option>11th</option>
            <option>12th</option>
            <option>13th</option>
            <option>14th</option>
            <option>15th</option>
            <option>16th</option>
            <option>17th</option>
            <option>18th</option>
            <option>19th</option>
            <option>20th</option>
            <option>21th</option>
            <option>22th</option>
            <option>23th</option>
            <option>24th</option>
            <option>25th</option>
            <option>26th</option>
            <option>27th</option>
            <option>28th</option>
            <option>29th</option>
            <option>30th</option>
            <option>31th</option>
        </select>
    </div>

    <div class="col-md-6">
        <label for="validationCustom03" class="form-label">Hair color</label>
        <input
            type="text"
            class="form-control"
            id="validationCustom03"
            name="hairColor"
            value=""
        />
    </div>

    <div class="col-md-3">
        <label for="validationCustom05" class="form-label">Height</label>
        <input
            type="text"
            class="form-control"
            id="validationCustom05"
            name="height"
            value=""
        />
    </div>

    <div class="col-md-6">
        <label for="validationCustom05" class="form-label">Anime</label>
        <input
            type="text"
            class="form-control"
            id="validationCustom05"
            name="anime"
            value=""
        />
    </div>

    <div class="col-md-5">
        <label for="validationCustom05" class="form-label">Seiyuu</label>
        <input
            type="text"
            class="form-control"
            id="validationCustom05"
            name="seiyuu"
            value=""
        />
    </div>

    <div class="col-md-11">
        <label for="validationCustom05" class="form-label">Image</label>
        <input
            type="text"
            class="form-control"
            id="validationCustom05"
            name="image"
            value=""
        />
    </div>

    <div class="col-12">
        <a
            type="button"
            class="btn btn-secondary float-end"
            href="javascript:history.back()"
            >Cancel</a
        >
        <button class="btn btn-outline-primary float-end me-2" type="submit">
            Create
        </button>
    </div>
</form>
