h1 {
    color: violet;
}

.container {
    background-color: bisque;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text {
    flex-grow: 1;
}

.button {
    padding-left: 105px;
}
