<form method="POST" class="w-50" action="/waifus/filter">
    <div class="mb-3">
        <label for="searching" class="form-label">Keyword:</label>
        <input
            type="text"
            class="form-control"
            id="searching"
            name="waifuName"
        />
        <div id="emailHelp" class="form-text">Enter keyword.</div>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
</form>
