{{#each info}}

<div class='card mt-4' style='width: 18rem;'>
    <img src='{{this._doc.image}}' class='card-img-top' alt='My waifu' />
    <div class='card-body'>
        <h5 class='card-title'>{{this._doc.name}}</h5>
        <p class='card-text'>Some quick example text to build on the card title
            and make up the bulk of the card's content.</p>
        <div class="button">
            <a href='/' class='btn btn-primary'>Home</a>
            <a href='/waifus/{{this._doc.slug}}' class='btn btn-primary'>Details</a>
        </div>
    </div>
</div>

{{/each}}
