{{#each details}}

<div class='card mt-4'>
    <img src='{{this._doc.image}}' class='card-img-top' alt='My waifu' />
    <div class='card-body'>
        <h5 class='card-title'>{{this._doc.name}}</h5>
        
        
    </div>
</div>

{{/each}}